.projects {
  display: inline-flex;
  flex-wrap:wrap;
  justify-content:space-around; /* Distribute space between items */
  padding: 2rem;
}

.project {
  position: relative; /* Add relative positioning to the container */
  width: calc(50% - 20px); 
  box-sizing: border-box; /* Include padding in the width calculation */
  padding: 5px ; /* Add spacing between items */
}

.project .portfolioImgs {
  max-width: 250px; /* Ensure images don't exceed their container width */
  height: 250px;
  transition: filter 0.3s; /* Add transition effect for smoother hover */
}

.project:hover .portfolioImgs {
  filter: brightness(20%); /* Darken the image on hover */
}

@media (min-width: 768px) {
  .project {
    width: calc(33.33% - 20px); /* Adjust width for larger screens */
  }
}

