/* Header content */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    border-bottom: 1px solid #ccc; /* Add border at the bottom */
    background: #734f96;
    padding: 0 10px; /* Add horizontal padding */
  }
  
  /* Logo */
  .logo {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    color: white;
  }
  
  /* Navigation links */
  .nav-tabs {
    display: flex;
    border-bottom: none; /* Remove border bottom for nav links */
  }
  
  .nav-item {
    margin-right: 0px;
  }
  
  .nav-link {
    color: white;
    transition: color 0.s;
    border-bottom: none; /* Remove border bottom for nav links */
  }
  
  .nav-link:hover {
    color: white;
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #734f96;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .header-content {
      flex-direction: column; 
      height: auto; 
    }
  
    .nav-tabs {
      margin-top: 10px; 
    }
  
    .nav-item {
      margin-right: 0; /* Remove right margin for nav items */
      margin-bottom: 5px; /* Add bottom margin for nav items */
    }
  }

  .nav.nav-tabs {
    display: flex;
    justify-content: space-between;
    /* Add other necessary styles */
  }
  
  @media (max-width: 768px) { 
    .nav.nav-tabs {
      flex-wrap: wrap;
    }
    
    .nav.nav-tabs li {
      flex: 0 0 100%; /* Each nav item occupies the full width */
    }
  }