/* nav items */
/* moved to seperate nav css file */


/* about page */

.about-container {
  display: flex;
  align-items: center;
}

.portraitContainer {
  max-width: 300px; /* Adjust the max width of the image container */
}

.selfPortrait {
  width: 100%; /* Ensure the image fills its container */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure the image doesn't exceed its original size */
}

.about-text {
  margin-left: 50px; /* Adjust spacing between image and text */
}

.about-text p {
  max-width: 300px; /* Limit the width of the text container */
}

.project {
    max-width: 300px; /* Adjust this value as needed */
    height: auto; /* Automatically adjust height based on width */
  }
  
  /* footer styling */

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:transparent;
    padding: 5px 0;
    text-align: center;
  }

  .icon-link {
    margin: 0 10px; /* Add margin between icons */
  }