/* nav items */

/* moved to seperate nav css file */



  
  /* footer styling */

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:transparent;
    padding: 5px 0;
    text-align: center;
  }

  .icon-link {
    margin: 0 10px; /* margin between icons */
  }